<div id="page">
  <div id="left_menu"><%unless params[:mess].nil?%><div id="flash"><%=params[:mess]%></div><%end%></div>
  <div id="content">
    <%@products.each do |p|%>
     <div id="product_block"><div id="photo"></div>
       <div id="desc">
         <h2><%=link_to p.name,{:controller=>"buyer",:action=>"add_to_cart",:id=>p.id},:remote=>true%></h2><p> <%=p.description%></p><h4> price: <%=p.price%>$</h4>
       </div>
     </div>
    <%end%>

  </div>
 <div id ="cart_block"><%=render :partial=>"add_to_cart_list"%></div>
</div>


<style>
  #page{height:700px;}
  #photo{background: none repeat scroll 0 0 beige;
    border: 1px solid #B7CBE9;
    float: left;
    height: 150px;
    margin-left: 17px;
    margin-top: 12px;
    width: 140px;}
  #desc{background: none repeat scroll 0 0 #E4E4E4;
    float: left;
    height: 100%;
    padding-left: 25px;
    width: 610px;}
  #desc h2{}
  #desc p{}
  #desc h4{font-size:12px;}
  #left_menu{width:250px;height:700px;border:1px solid #B7CBE9;float:left;}

  #content{height:700px;width:823px;border:1px solid groove;float:left;padding-left:2px;overflow:auto;}
  #product_block{background: none repeat scroll 0 0 #E4E4E4;
    height: 170px;
    margin-bottom: 5px;
    width: 100%;}
  #cart_block{background:lavender;width:250px;height:700px;float:right;}
</style>


